@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: dark; }

html, body, #root { height: 100%; }

body {
  margin: 0;
  background: #070B18;
  font-family: Switzer, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial;
}
